*{
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: garyscale;
}

body{
text-align: center;
padding-top: 50px;
background-image: url(https://i.ibb.co/hY2bqw1/vdddd.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

height: 100vh;

font-family: 'Inter', sans-serif;
}

h1{
  color:#151718;
  font-weight: 500;
  font-size: 64px;
  line-height: 86px;
  font-family:'Cinzel', serif; 
}

h1 span{
  color: #4062d1 ;
}

p{
font-size: 20px;
line-height: 24px;
margin-bottom: 72px;
color:#151718;
}

a{
padding: 16px 32px;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #151718;


}

a:hover,
.btn-primary{
  text-decoration: none;
  color: #151718;;
  background-color: #4062d1 ;
}